
@{
    ViewBag.Title = "AngularTest";
}

<h2>AngularTest</h2>

<script type="text/javascript" src="~/Scripts/fusioncharts/fusioncharts.js"></script>
<script type="text/javascript" src="~/Scripts/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="~/Scripts/fusioncharts/plugIns/angular-fusioncharts.min.js"></script>
